<!-- views/print.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Deklaracja</title>
  </head>
  <body>
    <div>
      <table border="1">
        <thead>
          <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Przedmiot</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- name %></td>
            <td><%- surname %></td>
            <td><%- field %></td>
          </tr>
        </tbody>
      </table>

      <table border="1">
        <thead>
          <tr>
            <th>Zadanie</th>
            <% for (let i = 0; i < taskScores.length; i++) { %>
              <th><%= i + 1 %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Punkty</td>
            <% for (let i = 0; i < taskScores.length; i++) { %>
              <td><%- taskScores[i] %></td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
